.input-bar {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;

  background-color: #fff;
  z-index: 1;
}

.logo-bar {
  display: flex;
  margin-right: 50px;

  font-family: Inter;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;

  &__article {
    color: #000000;
    text-decoration: none;
  }
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 350px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #f2f2f2;

}

.btn--bar {
  padding: 7px 12px 7px 19px;
  display: flex;
  align-items: center;

  cursor: pointer;
  border: none;
}

.magnifier {
  width: 18px;
  height: 18px;
}

.form-control {
  background: #f2f2f2;
  border-radius: 4px;
  width: 100%;

  border: none;
  outline: none;
}

.form-control {
  outline: none;
}

.burger {
  display: flex;
  position: absolute;
  right: 0;
}
